#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis leo tristique, sodales sem at, sollicitudin lacus. Morbi fringilla massa rhoncus massa fringilla, sed ultricies est suscipit. Cras rutrum est sed vehicula faucibus. In ullamcorper cursus ex, quis ullamcorper ex feugiat eget. Donec rhoncus nulla nec viverra porta. Vivamus aliquet at nulla non placerat. Curabitur sit amet nunc eu lacus tincidunt pellentesque. Nunc accumsan posuere pretium. Donec sit amet tempus quam, vitae ullamcorper lacus.

#bottom_cta
  .wrapper
    %h2 Go ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
